@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
}

.Button {
	border: 1px solid #521751;
	font: inherit;
	padding: 8px;
	background-color: #521751;
	color: white;
	cursor: pointer;
}

.Button:hover,
.Button:active {
	background-color: #fa923f;
}
